body { 
    font-family: Calibri;
    background-image: url('https://ak.picdn.net/shutterstock/videos/20428300/thumb/1.jpg');
    background-size: auto 100vh;
    height: 100vh;
  }
  
  .menu{
    background-color: white;
  }
  
  .menu li {
    list-style: none; 
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  